.view-content:has(.epub-container) {
	padding: 0;
	margin-top: 0 !important;
}

.epub-container {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: var(--background-primary);
	/* variables */
	--bottom-margin: 150px;
	--small-bottom-margin: 50px;
	--common-margin: 30px;
	--common-margin-small: 10px;
	--button-size: 40px;
	--menu-container: 200px;
	--button-margin: 5px;
}

.epub-view {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}


.epub-button {
	width: var(--button-size);
	height: var(--button-size);
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
	transition: all .2s;

	/*center svg*/
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-container {
	margin-left: var(--common-margin);
	transition: all .2s;
}

.button-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	position: absolute;
	bottom: 0;
	left: 0;

	height: auto;
	max-height: 80vh;
}

.is-mobile .button-container {
	margin-left: var(--common-margin-small);
	margin-bottom: calc(calc(var(--navbar-bottom-offset) - var(--keyboard-height) - 2px) + var(--navbar-height));
}

.is-mobile.is-tablet .button-container {
	margin-left: var(--common-margin);
}

body:not(.is-mobile) .button-container {
	margin-bottom: var(--common-margin);
	margin-left: var(--common-margin);
}


.hide-button {
	opacity: 0;
	visibility: hidden;
}


.small-button {
	width: var(--button-size);
	height: var(--button-size);
	box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.8) !important;
	border-radius: 50%;
	transition: all .2s;
	margin: var(--button-margin);
	/*center svg*/
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 !important;
}

.big-button {
	box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.8) !important;
	transition: all .2s;
	background: var(--raised-background);
	/*center svg*/
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;

	margin: var(--button-margin);
}


.big-button svg {
	margin-right: 10px;
}


.big-button:hover {
	background: var(--background-secondary);
}

.page-info {
	/*center */
	display: flex;
	align-items: center;
	justify-content: center;
	left: 50%;
	transform: translateX(-50%);
	/*style*/
	border-radius: 10px;
	background: var(--raised-background);
	z-index: 1000;

	box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.8) !important;
	transition: all .2s;

	position: absolute;
	min-width: 100px;
	padding: 5px;
}

.is-mobile.is-tablet .page-info {
	top: calc(var(--header-height) + 1rem);
}

.is-mobile .page-info {
	top: calc(var(--view-header-height) + var(--header-height) + 1.5rem);
}

body:not(.is-mobile) .page-info {
	top: calc(var(--header-height) + var(--header-height));
}


.loading {
	/*center*/
	display: flex;
	align-items: center;
	justify-content: center;
	left: 50%;
	top: 50%;
	transform: translateX(-50%);
	/*fixed position*/
	position: absolute;
	z-index: 1000;
	/*text*/
	font-size: 20px;
	color: var(--text-accent);
	text-align: center;
	background: var(--background-primary);
}

.is-mobile.is-floating-nav.is-phone:has(.epub-container)  .view-header{
	padding-top: calc( var(--view-header-top-offset));
	margin-top: 0;
	background: var(--background-primary);
}
