.view-content:has(.epub-container) {
	padding: 0;
	margin-top: 0 !important;
}

/*.is-mobile*/

.epub-container {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: var(--background-primary);
	/* variables */
	--bottom-margin: 150px;
	--small-bottom-margin: 50px;
	--common-margin: 30px;
	--button-size: 40px;
	--menu-container: 200px;
	--button-margin: 5px;
}

.epub-view {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}


.epub-button {
	width: var(--button-size);
	height: var(--button-size);
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
	transition: all .2s;

	/*center svg*/
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-menu {
	position: fixed;
	bottom: 0;
	right: 0;
	margin-bottom: var(--bottom-margin);
	margin-right: var(--common-margin);
}

.menu-container {
	position: fixed;
	bottom: 0;
	left: 0;
	margin-left: var(--common-margin);
	/*margin-bottom: var(--navbar-height);*/
	margin-bottom: calc(140px + var(--navbar-height));
	/*margin-right: var(--common-margin);*/

	height: var(--menu-container);
	/*width: 100%;*/
	background: rgba(0, 0, 0, .5);
	transition: all .2s;
}

.button-container {
	display: flex;
	align-items: start;
	justify-content: center;
	/*background-color: blue;*/
	flex-direction: column;

	position: absolute;
	top: 0;
	left: 0;

}

.hide-button {
	opacity: 0;
	visibility: hidden;
}


.next {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: var(--common-margin);
}


.prev {
	position: fixed;
	bottom: 0;
	left: 0;
	margin: var(--common-margin);
}

.nav-back {
	position: fixed;
	bottom: 0;
	left: 0;
	margin-bottom: var(--bottom-margin);
	margin-left: var(--common-margin);
}

/*.chapter-menu {*/
/*	position: fixed;*/
/*	bottom: 0;*/
/*	left: 0;*/
/*	margin-bottom: var(--bottom-margin);*/
/*	margin-left: var(--common-margin);*/
/*}*/

.chapter-menu {
	position: absolute;
	top: 0;
	right: 0;
	margin: var(--common-margin);
}

.big-button {
	/*border-radius: 50%;*/
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7) !important;
	transition: all .2s;
	/*background: var(--background-primary);*/
	background: var(--raised-background);

	/*center svg*/
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;


	margin: var(--button-margin);
}

.small-button {
	width: var(--button-size);
	height: var(--button-size);
	/*background: var(--raised-background);*/
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.7) !important;
	border-radius: 50%;
	transition: all .2s;
	margin: var(--button-margin);
	/*center svg*/
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 !important;
}


.big-button svg {
	margin-right: 10px;
}


.big-button:hover {
	background: var(--background-secondary);
}

.page-info {
	display: flex;
	align-items: center;
	justify-content: center;
	/*center */
	left: 50%;
	/*top: calc(var(--view-top-spacing) + 1rem);*/
	/*top: calc(var(--view-header-height) + var(--view-header-top-offset) + 1rem);*/
	top: calc(var(--view-header-height) + 5rem);
	transform: translateX(-50%);

	border-radius: 10px;
	background: var(--raised-background);
	z-index: 1000;

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7) !important;
	transition: all .2s;

	position: absolute;
	min-width: 100px;
	padding: 5px;

}

.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	left: 50%;
	top: 50%;
	transform: translateX(-50%);

	position: absolute;
	z-index: 1000;

	font-size: 20px;
	color: white;
	text-align: center;

}
