/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.view-content:has(.epub-view) {
	margin: 0;
	padding: 0;
}

.epub-view {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.epub-view * {
	font-family: inherit !important;
	color: inherit !important;
	line-height: inherit !important;
}

.epub-view_button {
	width: 100px;
	height: 100px;
	background: blue;
	position: absolute;

	z-index: 100;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.epub-view__next-button {
	width: 20%;
	height: 100%;
	/*background: blue;*/
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	z-index: 100;
}

.epub-view__previous-button {
	width: 20%;
	height: 100%;
	/*background: green;*/
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index: 100;
}

