.epub-container {
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	background: antiquewhite !important;
}

.epub-view {
	margin: 0;
	padding: 0;
	height: 100%;
	/*height: 100%;*/
	width: 100%;
	background: rebeccapurple;
	overflow: hidden;
	//
	overflow-anchor: none !important;
	touch-action: pan-y;
}


.epub-button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: var(--background-secondary);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
	transition: all .2s;
	margin: 5px;

	/*center svg*/
	display: flex;
	align-items: center;
	justify-content: center;
}


